<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace = "com.inong.spring.test.mybatis.repository.RealEstateRepository">
 	<select id = "selectRealEstate"
 			resultType = "com.inong.spring.test.mybatis.domain.RealEstate"
 			parameterType = "int">
 			SELECT 
 				`id`
 				,`realtorId`
 				,`address`
 				,`area`
 				,`type`
 				,`price`
 				,`rentPrice`
 				,`createdAt`
 				,`updatedAt`
 			FROM
 				`real_estate`
 			WHERE
 				`id`= #{id};
 	
 	
 	
 	</select>
 	
 	
 	<select id = "selectConditionedRealEstate"
 			resultType = "com.inong.spring.test.mybatis.domain.RealEstate"> 
 			SELECT 
 				`id`
 				,`realtorId`
 				,`address`
 				,`area`
 				,`type`
 				,`price`
 				,`rentPrice`
 				,`createdAt`
 				,`updatedAt`
 			FROM
 				`real_estate`
 			WHERE
 				`area` > 80 and `price` > 100000;
 				
 	</select>
 
 
 
 
 
 </mapper>