<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 
 <mapper namespace = "com.inong.spring.test.mvc.repository.SellerRepository">
 	 
 	<insert id = "selectLastSeller"
 		parameterType = "map">
 		INSERT 
 			`seller`
			(`nickName` 
			, `tempurature`
			,`profileImage`)
		VALUE
			(#{nickName}
			,#{tempurature}
			,#{profileImage})
			
			 		
 		
 		</insert>
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	<select id = "selectLastSeller"
 	resultType = "com.inong.spring.test.mvc.domain.Seller">
 		SELECT 
 			`nickName`
 			,`tempurature`
 			,`profileImage`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`seller`
 		ORDER BY 
 			`id` DESC
 		LIMIT 1;
 		
 	</select>
 	
 	<select id = "selectSeller"
 		parameterType ="int"
 		resultType = "com.inong.spring.test.mvc.domain.Seller">
	 		SELECT 
	 			`nickName`
	 			,`tempurature`
	 			,`profileImage`
	 			,`createdAt`
	 			,`updatedAt`
	 		FROM
	 			`seller`;
 		</select>
 
 
 
 
 
 
 </mapper>
 