<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <!-- repository 인터페이스와 연동이 필요함 -->
 <mapper namespace ="com.inong.spring.test.database.repository.StoreRepository">
 
 <!-- 우리가 직접 만든 클래스의 객체로 대응시켜준다 마이바티스의 역할
  -->
	 <select id = "selectStore"
	 		resultType = "com.inong.spring.test.database.domain.Store">
	 SELECT 
		 `id`
		 ,`name`
		 ,`phoneNumber`
		 ,`address`
		 ,`businessNumber`
		 ,`introduce`
		 ,`createdAt`
		 ,`updatedAt`
	 FROM 
		 `store`;
	 
	 </select>
 </mapper>